html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(186, 242, 187);
    background-image: url('/static/images/busy park.jpg') no-repeat center center;
    background-size: cover;

}

.map,
#map {
    margin: 25;
    width: 80%;
    height: 80%;
    /* float: right; */
}

/* .bg-image {
    background: url('/static/images/busy park.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px) grayscale(20%); */

/* }  */
.my-photo {
    background: url('/static/images/busy park.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(5px) grayscale(20%);

}
body.container {
    background: url('/static/images/busy park.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(100px)
     grayscale(20%);
}



/* .container {
    border: 1px solid black;

} */
/* .container-sm{
    border: 1px solid black;

}
.col-6{
    border: 1px solid black; */

/* } */

.box{
    width: 100%;
    border: 1px solid black;
    float: right;
}

.box-create{
    width: 100%;
    border: 1px solid black;
    float: right;
    background-color: darkseagreen;
}

.box-login{
    width: 100%;
    border: 1px solid black;
    float: left;
    background-color: darkseagreen;
}

.message-board{
    width: 100%;
    border: 1px solid black;
    float: left;
    background-color: rgb(220, 235, 220);
}

.new-message{
    width: 100%;
    border: 1px solid black;
    float: left;
    background-color: darkseagreen;


}



/* 
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  nav {
    display: flex;
    background: rgb(88, 89, 91);
  }
  
  nav p,
  nav a,
  nav button {
    display: inline-block;
    color: white;
    padding: 0;
    margin: 0.5em;
    font-size: 1em;
    font-family: inherit;
  }
  
  nav a,
  nav button {
    background: transparent;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    text-decoration: none;
  }
  
  nav a:hover,
  nav button:hover {
    cursor: pointer;
    border-bottom: 0;
    color: yellow;
  }
  
  #links-right {
    margin-left: auto; */
  /* }
   */