{% extends 'base.html' %}


{% block title %}Add Park{% endblock %}
{% block head %}
<br>
<br>


{% endblock %}
{% block body %}

<div class="container">
    <div class="background"></div>
  
  <body class="addpark-background">
    
    
    <h1>Add Park</h1>
    <br>
    <br>
    <section class="addpark-bg-image">
   </section>
   



      <div class="add-park">
        <main class="form-addpark">

    <form action="/new_park" method ="POST">
        <h1 class="h3 mb-3 fw-normal">New Park Details</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="park_name" placeholder="Happy Playground" name="park_name">
            <label for="park_name">Park Name</label>
          </div>
        
        <div class="form-floating">
            <input type="text" class="form-control" id="park_address" placeholder="1234 Main Street" name="park_address">
            <label for="park_address">Park Address</label>
          </div>
         
   <div class="form-floating">
    <input type="text" class="form-control" id="park_zipcode" placeholder="54321" name="park_zipcode">
    <label for="park_zipcode">Zipcode</label>
  </div>    
   
   
        <p>
            <input type="submit">
          </p>
        
    </form>

 </main>   
</div>


</body>
</div>

  {% endblock %}