{% extends 'base.html' %}

{% block title %} All Parks Near You {% endblock %}
{% block head %}
<br>
<br>

{% endblock %}
{% block body %}
<div class="container">
  <div class="background">
  </div>

<body class="parks-background">
  <br>
  <h1>Parks Near You!</h1>
  <section class="parks-bg-image">
  </section>
<br>
  <ul>
    {% for park in parks %}
    <div class="park-info">
      <li>
        <a href="/parks/{{ park.park_id }}">
         <h2> {{ park.park_name }} </h2>- {{ park.park_address }}
          
        </a>
      </li>
    </div>
    <br>
    {% endfor %}
  </ul>
  </body>
  </div>
{% endblock %}