<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  
    
  
  
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="/static/css/base.css"/>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}

    <div class="nav">
      <p>
        <form action="/map/parkmap" method ="POST">
        <label for="zipcode">Zipcode</label>
        <input type="text" name="zipcode" id="zipcode">
      
        <button type="submit" id ="playground-search"> Search for a Playground
     
        <!-- <a href="/map/parkmap">Search for a Playground</a> -->
        
      </button></form>
      </p>
    </div>
      
    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>
