{% extends 'base.html' %}


{% block title %} Playdates {% endblock %}

{% block body %}
  <h1>Welcome to Park Playdates!</h1>

  <h2>Navigation</h2>
  <ul>
    <li class="nav-item active"></li>
    <!-- {% if user.email %}      -->
    <li><a href="/users/{{ user.user_id }}">My Info</a></li>
    <li><a href="/parks">Parks Near Me</a></li>
    <!-- {% else %} -->
    <li class="Welcome">Welcome</li>
    <!-- {% endif %} -->
  </li> 
  </ul>

  <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      Display Name <input type="text" name="display_name">
    </p>
    <p>
      Zipcode <input type="text" name="zipcode">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
{% endblock %}
