{% extends 'base.html' %}

{% block title %} Playdates {% endblock %}
{% block head %}<link href="/static/css/signin.css" rel="stylesheet">
<br>
<br>


{% endblock %}
{% block body %}


<div class="container">
  

<body class="signup-background">
  <br>
  <br>
  <br>
  <br>
  
  <h1>Welcome to Park Playdates!</h1>
  <section class="bg-image">
 </section>
<br> 
<br>
<div class="row">
<div class="flash-msg"></div></div>
<br>

<div class="container">
<div class="login">
      <main class="form-signin">
        <form action="/login" method="POST">
          
          <h2 class="mb-3 fw-bold">Please sign in</h2>
      
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
          </div>
          <p>
            <input type="submit">
          </p>
        </form>
      </main>
    </div>

      <section
      class="signup">
      <section id="signup">
        <div class="active"><a href="/signup">Need To Create An Account?</a></div>
      </section>
    </div>



</section>
</body>
</div>


{% endblock %}
