{% extends 'base.html' %}

{% block title %} Playdates {% endblock %}
{% block head %}
<br>
<br>




{% endblock %}
{% block body %}

<div class="container">
  

<body class="board-background">
  <br>
  
  <h1>Welcome to Your Area Parks Message Board!</h1>
  <section class="board-bg-image">
 </section>
  <br>
  <br>
  

  
  <div class="container">
  <div class="user-info">
<div class="row">
  
  <div class="col-3 col-md-2 col-sm-1">
    <div class="left">
      <br>
    <h2>{{ user.display_name }}</h2>
      
    <h3>{{ user.email }}</h3>
      <br>
    </div>
  </div>
  <div class="col-6">
    <div class="user">
      <br>
      <h1>Hello,  {{ user.display_name }}!</h1> 
      
      

</div>
</div>
<div class="col-3 col-md-2 col-sm-1">
<h2>{{ user.region.region_name }}</h2>
{% if children %}
  {% for child in children %}
<h4> Child DOB {{ child.birthdate.date()}} </h4>

  {% endfor %}
  {% endif %}

</div>
  </div> 
  <div class="row">
    <div class="col-9"></div>
    <div class="col-2 col-md-2 col-sm-1">
  <div class="small-box">
    
    
      <h6>New Baby?</h6>
      <form action="/add_child" METHOD = "POST">
        <div class="form">
          <input type="date" id="add-child" class="form-control-sm" placeholder="birthdate (MM/DD/YY)" name="birthdate">
          
        </div>
        <button type="Submit" id="Add-Child">Add Child
        </button>

      </form>
    </div>
    </div>
  </div>
   </div>
  </div>

  <div class="container-fluid">
    
      <div class="message-board">

  
  {% if homeboard %}
  <div class="box"><h1 class="h3 mb-3 fw-bold">{{user.region.region_name}}</h1> </div>
 
    {% for message in homeboard %}
    
    
    <div class="message-box">
      
     {{ message.message }}
    {{ message.timestamp }}
    -- {{ message.user.display_name }}
    </div>
    
    {% endfor %}
    
    {% else %}
    <h1> No one has posted anything yet!</h1>
  {% endif %}
  <br>
</div>
<br>


    <div class="add-message">

  
  <form action="/new_message" method="POST">
    <h2 class="mb-3 fw-bold">Create New Message</h2>
   
  <p>
    <textarea name="new-message" id="new-message">


    </textarea>
  </p>

    <p>
      <input type="submit">
    </p>

  </form>
</div>

</div>

</body>
</div>
  
   {% endblock %}
  