{% extends 'base.html' %}

{% block title %} Playdates {% endblock %}
{% block head %}
<br>
<br>




{% endblock %}
{% block body %}

<div class="container">
  <!-- <div class="background">
  </div> -->

<body class="board-background">
  <br>
  
  <h1>Welcome to Your Area Parks Message Board!</h1>
  <section class="board-bg-image">
 </section>
  <br>
  <br>
  <!-- <h2>Navigation</h2>
  <ul>
       
    <li><a href="/users/{{ user.user_id }}">My Info</a></li>
  </ul> -->

  
  <div class="container">
  <div class="user-info">
<div class="row">
  
  <div class="col-3 col-md-2 col-sm-1">
    <div class="left">
    <h3>{{ user.display_name }}</h1>
    <h3>{{ user.email }}</h2>
    </div>
  </div>
  <div class="col-6">
    <div class="user">
      <h2>Hello,  {{ user.display_name }}!</h2> 
      <br>
      <!-- <h3>{{ user.email }}</h3></div> -->

</div>
</div>
<div class="col-3">
<h3>{{ user.region.region_name }}</h2>
<h3>{{ user.children }}</h2>
<!-- </div> -->
</div>
  </div>
   </div>
  </div>
<br>
<br>
<br>

  <div class="container-fluid">
    <!-- <div class="row"> -->
    <!-- <div class="text-center"> -->
      <div class="message-board">


  <!-- need to account for region id -->
  {% if homeboard %}
  <div class="box"><h1 class="h3 mb-3 fw-normal">{{user.region.region_name}}</h1> </div>
 
  
    {% for message in homeboard %}
    <!-- for region in regions // for message in region -->
    <br>
    <div class="message-box">
      
     {{ message.message }}
    {{ message.timestamp }}
    -- {{ message.user.display_name }}
    </div>
    
    {% endfor %}
    
    {% else %}
    <h1> No one has posted anything yet!</h1>
  {% endif %}
  <br>
  <br>
</div>


<br>
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- 
<div class="container">
  <div class="row"> -->
  <!-- <div class="text-center"> -->
    <div class="add-message">

  <h3> New Message</h3>
  <form action="/new_message" method="POST">
    <h1 class="h3 mb-3 fw-normal">Create New Message</h1>
    <!-- <p>
    <label for="new-message">Create New Message:</label>
  </p> -->
 <!-- <div class="text-area"> -->
  <p>
    <textarea name="new-message" id="new-message">


    </textarea>
  </p>
<!-- </div> -->
    <p>
      <input type="submit">
    </p>

  </form>
</div>
<!-- </div> -->
</div>
<!-- </div>
</div> -->
</body>
</div>
  <!-- <h3>Delete Message</h3>
  <form action="/delete_message" method="POST">
    <p> 
      <form>
        <button type="submit">Delete Message</button>
      </form>
    </p> -->

<!-- 
  </form> -->
   {% endblock %}
  <!-- region.message --> 