{% extends 'base.html' %}

{% block title %} Playdates {% endblock %}

{% block body %}
  <h1>Welcome to Park Playdates!</h1>
  <!-- <h2>Navigation</h2>
  <ul>
       
    <li><a href="/users/{{ user.user_id }}">My Info</a></li>
  </ul> -->

  <h2>{{ user.display_name }} {{ user.email }}</h2>
  <div class="container">
    <div class="row">
    <div class="text-center">
      <div class="message-board">


  <!-- need to account for region id -->
  {% if homeboard %}
    {% for message in homeboard %}
    <!-- for region in regions // for message in region -->
     {{ message.message }}
    {{ message.timestamp }}
    {% endfor %}
    {% else %}
    <h1> No one has posted anything yet!</h1>
  {% endif %}
</div>
</div>
</div>
</div>

<div class="container">
  <div class="row">
  <div class="text-center">
    <div class="new-message">

  <h3> New Message</h3>
  <form action="/new_message" method="POST">
    <p>
    <label for="new-message">Create New Message:</label>
  </p>
  <p>
    <textarea name="new-message" id="new-message"></textarea>
  </p>
    <p>
      <input type="submit">
    </p>

  </form>
</div>
</div>
</div>
</div>
  <!-- <h3>Delete Message</h3>
  <form action="/delete_message" method="POST">
    <p> 
      <form>
        <button type="submit">Delete Message</button>
      </form>
    </p> -->

<!-- 
  </form> -->
   {% endblock %}
  <!-- region.message --> 