{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/base.css"/>
  <h1 id = "user-zipcode"> zipcode = <span id= "zipcode"> {{ zipcode }} </span> </h1>
  


{% endblock %}

{% block body %}
  <!-- <nav>
    <section id="links-left">
      <a href="/map/more">Check out the other demos!</a>
    </section>
    <section id="links-right">
      <a href="/">home</a>
    </section>
  </nav> -->
<!-- <div class = "container"> -->
  
    
      

  <section class="map">
   
    <div id="map"></div>
   <!-- <div class="box"> -->
  <!-- <div class="row"> -->
    <div class="row d-flex justify-content-center">
    <div class="col-6-md">
    <!-- <div class="text-center">
    </div> -->
  <!-- </div> -->
</div>
</div>
<!-- </div> -->
  

<!-- </div> -->
    </section>
 <!-- </div> -->


  <script src="/static/js/parkmaps.js"></script>

  <script 
  async
 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBAi6UglC70WempK9I8qLUHiHKkNuWBy0&libraries=places&callback=initMap">

  </script>
 
  
{% endblock %}
