{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/base.css"/>

 
<br>
<br>
<h1 id = "user-zipcode"> zipcode = <span id= "zipcode"> {{ zipcode }} </span> </h1> 

{% endblock %}

{% block body %}

  <br>
<!-- <div class="background"></div> -->
   <body class="map-background">
    <div class="background" id="parkmap-background"></div>
    <section class="map-bg-image" id="treasure-map">
      <!--  -->
    <!-- </section> -->
  <!-- <section class="map"> -->
  
    <div id="map"></div>
   <!-- <div class="box"> -->
  <!-- <div class="row"> -->
    <!-- <div class="row d-flex justify-content-center"> -->
    

    <!-- <div class="col-6-md"> -->
    <!-- <div class="text-center">
    </div> -->
  <!-- </div> -->
<!-- </div>
</div> -->
<!-- </div> -->
  

<!-- </div> -->
   
 <!-- </div> -->
 
</section>
</body>

  <script src="/static/js/parkmaps.js"></script>

  <script 
  async
 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBAi6UglC70WempK9I8qLUHiHKkNuWBy0&libraries=places&callback=initMap">

  </script>
 
{% endblock %}
