{% extends 'base.html' %}


{% block title %} Playdates {% endblock %}
{% block head %}
<link href="/static/css/signin.css" rel="stylesheet">


{% endblock %}



{% block body %}

<div class="container">

<div class="background"></div>
  <body class="signup-background">
  <h1>Welcome to Park Playdates!</h1>
  <section class="signup-bg-image">

  </section>



  <main class="form-signup">
    <!-- <div class="col-3">
      <div class="box-create"> -->
    
    <h2 class="h3 mb-3 fw-normal">Create an Account</h2>
    <form action="/users" method="POST">
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
        <label for="floatingInput">Email address</label>
      </div>
    
      <!-- <p>
        Email <input type="text" name="email">
      </p> -->
    
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
      </div>
      <!-- <p>
        Password <input type="password" name="password">
      </p> -->
    
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingDisplayName" placeholder="Name" name="display_name">
        <label for="floatingDisplayName">Display Name</label>
      </div>
      <!-- <p>
        Display Name <input type="text" name="display_name">
      </p> -->
    
      <div class="form-floating">
        <input type="text" class="form-control" id="zipcode" placeholder="zipcode" name="zipcode">
        <label for="floatingZipcode"> Zipcode</label>
      </div>
      <!-- <p>
        Zipcode <input type="text" name="zipcode">
      </p> -->
    
      <p>
        <input type="submit">
      </p>

    </form>
    </main>
    </body>
</div>

   
    {% endblock %}

    ##ISSUE WANTS ALL ZIPCODES TO BE UNIQUE##