{% extends 'base.html' %}

{% block title %}{{ user.email }}'s Page{% endblock %}

{% block body %}
<h1>{{ user.display_name }}</h1>
<h2>{{ user.email }}</h2>

<h2>{{ user.region.region_name }}</h2>
<h2>{{ user.children }}</h2>


<ul>
    <p>
{% for message in user.messages %}
    <li>
        {{ message.message_id }}
        <span class='message {{message.message_id}}'>
            <h3>{{ message.timestamp }}</h3>
            <p>{{ message.message }}</p>
        </span>
    </li>
    </p>    
{% endfor %}
</ul>
{% endblock %}

